.img {
  border-radius: 20px;
  object-fit: cover;
  position: relative;

  width: 337px;
  height: 240px;
}

.img-wrapper {
  position: relative;
}

.cards {
  position: absolute;
  z-index: 50;
}

.background-wrapper {
  position: absolute;
}
.background {
  border-radius: 20px;
  width: 337px;
  height: 240px;

  position: relative;
}
.container {
  display: block;
  position: static;
  width: 100%;
  height: 100%;
}
