.footer-bg {
  background-color: black;
}
.container {
  margin-top: 0 !important;
}
.footer {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  padding: 3em 0;
  .footer-wrapper {
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
    z-index: 3;
    .trademark {
      color: white;
      font-size: 0.9rem;
      margin-bottom: 2em;
    }
    .footer-links {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      justify-content: space-between;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      line-height: normal;
      gap: 2em;
      z-index: 3;
    }
    .footer-links {
      .footer-link {
        font-size: 0.9rem;
        color: white;
      }
    }
  }
}
