.active-tab {
  font-weight: bold;
}
.navbar-bg {
  display: none;
}
.light-menu {
  path {
    fill: white !important;
    stroke: white !important;
  }
}
.nav-sm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}
.navigation {
  position: relative;
  margin-top: 2em !important;
  margin-left: 2em !important;

  .menu-wrapper {
    .menu {
      z-index: 998;
      stroke-width: 0.2;
      cursor: pointer;
      path {
        fill: black;
        stroke: black;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 999;
  transform-origin: center top;
  .flex-mobile {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    .hidden {
      overflow: hidden;
      .mobile-link {
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}
.close-wrapper {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 2em;
  margin-bottom: 2em;
  z-index: 999;
  .close {
    path {
      stroke: #000000 !important;
    }
  }
}
@media (min-width: 940px) {
  .nav-sm {
    display: none;
  }
  .navbar-bg {
    z-index: 900;
    height: auto;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    display: none;
  }

  .menu-wrapper {
    .menu-icon {
      z-index: 999;
      stroke-width: 0.2;
      cursor: pointer;
      path {
        fill: black;
        stroke: black;
      }
    }
  }

  .container {
    position: relative;
    justify-content: space-between;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 100%;
    display: flex;
    align-items: center;
    .custom-link-wrapper {
      text-align: center;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
    .custom-link {
      font-size: 1.1rem;

      margin-left: 1em;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      display: none;

      text-transform: none;
    }
    .display-nav {
      display: block !important;
    }
    .nav-container {
      position: fixed;
      height: 100vh;

      width: 0px;

      transition: width 0.5s ease;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 999;
      text-transform: uppercase;
      background-color: white;

      .close-icon-wrapper {
        margin-left: 2em;
        margin-top: 2em;
        .close-icon {
          position: absolute;
          bottom: 0;
          right: 0;
          margin-right: 2em;
          margin-bottom: 2em;
          cursor: pointer;
          path {
            stroke: #000000 !important;
          }
        }
      }
      .links-wrapper {
        display: flex;

        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;

        .nav-item-wrapper {
          margin-bottom: 2em;
          .nav-item {
            border: none;
            background: none;
            font-size: 1.6rem;
            padding: 11px 10px 11px 10px;
            color: black !important;
            line-height: normal;
          }
          .contact {
            padding: 11px 15px 9px 11px;

            cursor: pointer;
          }

          &:hover {
            span {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .font {
    font-family: 'Inter';
  }
  .navbar-bg {
    background-color: transparent;

    backdrop-filter: blur(0px);
    display: block;
  }
  .container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .custom-link-wrapper {
      .custom-link {
        margin-left: 0;
      }
      svg {
        display: none;
      }
      .custom-link {
        display: unset;
      }
    }

    .nav-container {
      position: unset;
      background: none;
      width: auto;
      height: auto;

      transform: translateX(0);
      text-align: right;

      .close-icon-wrapper {
        display: none;
        svg {
          display: none;
        }
      }
      .links-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        mix-blend-mode: difference;
        .nav-item-wrapper {
          margin-left: 1.5em;
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          mix-blend-mode: difference;
          .contact {
            padding: 10px 18px 10px 18px !important;
          }
          button {
            padding: 0;
          }

          .nav-item {
            padding: 10px 10px 10px 10px;
            mix-blend-mode: difference;

            span {
              mix-blend-mode: difference;
              font-size: 0.8rem;
              display: flex;
            }
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}
