.section {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 4em 0;
}

.heading {
  display: none;
}
.heading-brief {
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 2em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.content {
  max-width: 800px;
}
.scroll-container {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.card {
  position: relative;
  min-width: 300px;
  height: auto;
}
.img-wrapper {
  position: relative;
  padding-top: 100%;
  width: 100%;
}
.img {
  object-fit: cover;
  position: relative;
  transition: transform 0.5s ease;
  pointer-events: none;
}
.img-wrapper:hover .img {
  transform: scale(1.04);
}

.title,
.count {
  font-size: 1.3rem;
  font-weight: 500;
}
.count {
  font-size: 1rem;
  font-weight: 500;
}
.link {
  text-decoration: underline;
}
.title-wrapper {
  margin-top: 2em;
  border-top: 1px solid #bcbcbc;
  padding-top: 1em;
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: space-between;
}
.description {
  color: #8c8c8c;
  margin-top: 1em;
}
@media (min-width: 800px) {
  .content {
    max-width: 1000px;
  }
  .heading-brief {
    display: none;
  }
  .heading {
    font-weight: 500;

    margin-bottom: 2em;
    display: block;
  }
  .card {
    min-width: 500px;
  }
}
