.section {
  background-color: black;
}
.wrapper {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 6em;
  padding-bottom: 6em;
}

.img-wrapper {
  padding-top: 160%;
  position: relative;
  width: 100%;
  pointer-events: none;
}
.box1 {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 3em;
}
.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3em;
}
.scroll,
.subheading,
.description {
  color: white;
}
.description {
  font-size: 1.1rem;
}
.subheading {
  font-weight: 500;
}

.scroll {
  font-size: 0.85rem;
  margin-bottom: 1em;
}
.box2 {
  display: flex;
  flex-direction: column-reverse;
}
.parallax-container {
  margin-bottom: 3em;
}

.scroll-content {
  height: auto;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  background-color: transparent;
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .box1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 4em;
  }
  .scroll-container {
    grid-column: 1/4;
  }
  .subheading {
    grid-column: 5/-1;
  }
  .box2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .description {
    grid-column: 1/4;
    border-top: 1px solid #595959;
    padding-top: 2em;
  }
  .parallax-container {
    grid-column: 5/-1;
  }
}
