.img {
  height: 400px;
  width: auto;
}

.work-section {
  margin-top: 5em;
  z-index: 0;
  position: relative;

  .work-content-wrapper {
    .title {
      font-size: 5rem;
      text-align: left;
      mix-blend-mode: difference;
    }

    margin-top: 10em;
    .work-content {
      margin: 0 auto;
      margin-bottom: 5em;
      .testimonial-wrapper {
        .flex {
          display: flex;
          gap: 5px;
          margin-bottom: 2em;
          .testimonial {
            color: #666666;
          }
        }
        .author {
          margin: 0;
          font-weight: bold;
          .job-type {
            font-weight: normal;
          }
        }
      }
      .work-img-wrapper {
        height: 300px;
        position: relative;
        .img-zoom {
          height: 100%;
          width: 100%;
          overflow: hidden;
          z-index: 2;
          position: relative;
        }
        .img-zoom .work-img {
          transition: transform 0.5s ease;
        }
        .img-zoom:hover .work-img {
          transform: scale(1.1);
        }

        .work-heading {
          display: none;
        }

        .work-img {
          object-fit: cover;
        }
      }
      .work-link-btn-wrapper {
        margin: 2em 0;
        .work-link-btn {
          text-decoration: none;
          cursor: pointer;
          line-height: normal;
        }
      }
      .work-text-content {
        .work-title,
        .work-description {
          margin: 0;

          line-height: 1.4;
        }
        .work-title {
          font-weight: bold;
          font-size: 1.5rem;
          margin-top: 1.5em;
          margin-bottom: 1.5em;
        }
      }
    }
  }
}
@media only screen and (max-width: 300px) and (min-width: 0px) {
  .work-section{
   .work-content-wrapper{
    margin-top: 3em;
   }
  }
  .btn {
    width: 100% !important;
    height: auto !important;

  }
}
@media (min-width: 800px) {
  .work-content-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  .work-section {
    .section-heading {
      margin-bottom: 15em;
      margin-top: 10em;
    }

    .work-content-wrapper {
      max-width: 800px;
      margin: 0 auto;
      .work-content {
        margin-bottom: 5em;
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        .work-img-wrapper {
          grid-column-start: 1;
          grid-column-end: -1;
          margin-bottom: 3em;
          .work-heading {
            display: block;
            margin: 0;
            position: absolute;
            z-index: 3;
            font-size: 3rem;
            color: white;
            transform: translateY(190px);
            max-width: 200px;
            overflow-wrap: normal;

            font-weight: 700;
            line-height: normal;
            font-size: 3rem;
            .work-accent {
              color: black;

              display: block;
            }
          }
        }
        .testimonial-wrapper {
          grid-column-start: 5;
          grid-column-end: -1;
          order: 4;
          margin-top: 2em;
        }

        .work-link-btn-wrapper {
          grid-column-start: 1;
          grid-column-end: 3;
          order: 2;
          align-self: self-end;
          margin: 0;
        }
        .work-text-content {
          grid-column-start: 5;
          grid-column-end: -1;
          order: 3;
          .work-description {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .work-section {
    .section-heading {
      margin-bottom: 15em;
      margin-top: 15em;
    }
  }
}
