.img {
  height: 400px;
  width: auto;
}

.work-section {
  margin-top: 5em;
  z-index: 0;
  position: relative;

  .content-wrapper {
    .title {
      font-size: 5rem;
      text-align: left;
      mix-blend-mode: difference;
    }

    margin-top: 10em;
    .content {
      margin: 0 auto;
      margin-bottom: 5em;
      .heading-wrapper {
        display: none;
      }

      .testimonial-wrapper {
        .flex {
          display: flex;
          gap: 5px;
          margin-bottom: 2em;
          .testimonial {
            color: #666666;
            line-height: 1.6;
          }
        }
        .author {
          margin: 0;
          font-weight: bold;
          .job-type {
            font-weight: normal;
          }
        }
      }
      .img-wrapper {
        height: 300px;
        position: relative;
        .img-zoom {
          height: 100%;
          width: 100%;
          overflow: hidden;
          z-index: 2;
          position: relative;
        }
        .img-zoom .work-img {
          transition: transform 0.5s ease;
        }
        .img-zoom:hover .work-img {
          transform: scale(1.1);
        }

        .img {
          object-fit: cover;
        }
      }
      .link-btn-wrapper {
        margin: 2em 0;
        .link-btn {
          text-decoration: none;
          cursor: pointer;
          line-height: normal;
        }
      }
      .text-content {
        .title,
        .description {
          margin: 0;
        }
        .description {
          line-height: 1.6;
        }
        .title {
          font-weight: bold;
          font-size: 1.5rem;
          margin-top: 1.5em;
          margin-bottom: 1.5em;
          line-height: 1.4;
        }
      }
    }
  }
}
@media only screen and (max-width: 300px) and (min-width: 0px) {
  .work-section {
    .content-wrapper {
      margin-top: 3em;
    }
  }
  .btn {
    width: 100% !important;
    height: auto !important;
  }
}
@media (min-width: 800px) {
  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  .work-section {
    .section-heading {
      margin-bottom: 15em;
      margin-top: 10em;
    }

    .content-wrapper {
      max-width: 800px;
      margin: 0 auto;
      .content {
        margin-bottom: 5em;

        .img-wrapper {
          width: 100%;
          margin-bottom: 3em;
        }
        .grid {
          display: grid;
          grid-template-columns: repeat(8, 1fr);

          .heading-wrapper {
            display: block;
            grid-column: 1/2;
            grid-row: 1;
            .heading {
              font-size: 3.1rem;
              line-height: 1.1;
            }
          }

          .testimonial-wrapper {
            grid-column-start: 5;
            grid-column-end: -1;

            margin-top: 2em;
          }

          .link-btn-wrapper {
            grid-column-start: 1;
            grid-column-end: 3;

            align-self: self-end;

            margin: 0;
          }
          .text-content {
            grid-column-start: 5;
            grid-column-end: -1;
            grid-row: 1;

            .description {
              margin-bottom: 0;
            }
            .title {
              margin: 0;
              margin-bottom: 1.1em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .work-section {
    .section-heading {
      margin-bottom: 15em;
      margin-top: 15em;
    }
  }
}
