.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.title,
.subtitle {
  font-size: 3rem;
  font-weight: 400;
}
.title {
  margin-bottom: 0.5em;
}
.subtitle {
  text-align: right;
}
.mask {
  position: absolute;
  mask-image: url('../../../public/svgs/mask-circle.svg');
  mask-size: 40px;
  mask-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-color: black;
  display: none;
  .mask-content {
    .title,
    .subtitle {
      color: #808080;
    }
  }
}
.unmask-content {
  padding-top: 1em;
}
.contact-section {
  width: auto;
  margin-top: 10em;
  position: relative;

  .modal {
    max-width: 400px;
    padding: 2em;
    .modal-description,
    .modal-title {
      text-align: center;
    }
    .modal-title {
      font-weight: 400;
      font-size: 1.8rem;
    }
    .modal-description {
      margin-top: 1em;
      font-size: 1.1rem;
    }
  }
  .spacer {
    height: 1vh;

    width: 100%;
  }
  .scroll-content {
    height: auto;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;

    background-color: #ededed;
    .page {
      width: auto;
      height: auto;
      .img-wrapper {
        min-height: 200px;
        position: relative;
        .img {
          object-fit: cover;
          border-radius: 15px;
          min-height: 200px;
        }
      }
    }
  }

  .grid {
    width: 100%;
    display: grid;

    margin-top: 3em;
    margin-bottom: 3em;

    .grid-item-media {
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 2em;

      margin-top: 4em;
      margin-bottom: 4em;
      .icon {
        cursor: pointer;
      }
    }
    .grid-item-form {
      position: relative;
      .form {
        position: relative;
        width: auto;

        display: grid;
        align-items: center;

        .btn {
          line-height: normal;
          margin-top: 3em;
        }
        .btn-disabled {
          opacity: 0.3;
          cursor: default;
          &:hover {
            background-color: black;
            opacity: 0.3;
            color: white;
          }
        }
        .form-error-text {
          color: #e14e1d;
          margin-top: 1em;
        }

        .group {
          margin: 0;
          padding: 0;
          border: none;
          margin-bottom: 1.5em;
          margin-top: 1.5em;
          position: relative;
          width: 100%;

          .label {
            font-weight: 400;
            margin-bottom: 1.1em;
            display: block;
            width: 100%;
            position: relative;
            color: black;
            transition: 0.3s ease;
          }
          .label-fadeout {
            color: #b2b0b0;
          }

          input:focus {
            border: 1px solid #0085f2 !important;
            outline: none;
          }
          .field,
          .message-field {
            border: none;
            border-bottom: 1px solid #b2b0b0;
            position: relative;
            &:focus {
              border-top: none !important;
              border-left: none !important;
              border-right: none !important;

              border-bottom: 1px solid #0085f2 !important;
            }
          }
          .field {
            padding: 0.65em;
            display: block;
            width: 100%;
          }
          .message-field {
            max-width: 100%;
            min-height: 100px;
            outline: none;
          }
          .field-error {
            border-bottom: 1px solid #e14e1d;
          }
        }
        .first-group {
          margin-top: 0;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .scroll-content {
    min-height: 400px;
    .page {
      .img-wrapper {
        min-height: 700px;
        .img {
          min-height: 300px;
        }
      }
    }
  }

  .title,
  .subtitle {
    font-size: 5rem;
  }
  .mask {
    display: block;
    .mask-content {
      padding-top: 6em;
    }
  }
  .unmask-content {
    padding-top: 6em;
  }
  .contact-section {
    margin-top: 15em;
    .grid {
      grid-template-columns: repeat(12, 1fr);
      display: grid;
      .grid-item-form {
        grid-column: 1/8;
        .form {
          max-width: 500px;
        }
      }
      .grid-item-media {
        grid-column: -1;

        padding-left: 2em;
        display: flex;
        flex-direction: column;
        border-left: 1px solid rgba(162, 162, 162, 0.5);
        margin-top: 0 !important;
        height: 200px;
        align-self: flex-start;
      }
    }
  }
}

.bounce {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
