.arrow-btn {
  display: inline-block;
}
.btn {
  display: none;
}
.work {
  font-size: 3rem;
  text-align: left;
  color: white !important;
  mix-blend-mode: difference;
  margin: 0;
  margin-top: 4em;
  word-wrap: break-word;
  font-weight: 700;
}
.hero {
  text-align: center;
  max-width: 500px;
  margin: 10em auto 0 auto;
  .content {
    .heading-wrapper {
      .subheading {
        font-size: 1.1rem;
        font-weight: 200;
        overflow-wrap: normal;
        letter-spacing: 0.5em;
        margin: 0;
      }
      .heading {
        font-size: 3.7rem;
        margin: 0;
        font-weight: 400;
        text-transform: lowercase;
        text-align: center;
        transition: 0.3s ease;

        span {
          font-weight: 400;
          font-style: italic !important;
          text-transform: none;
          color: black;
          -webkit-text-stroke-width: 0;
          -webkit-text-stroke-color: revert;
        }
      }
    }
    .description {
      margin: 0;
      margin: 2em 0;
      text-align: left;
      line-height: 1.6;
    }
    .action-btn-wrapper {
      margin-bottom: 3em;
      cursor: pointer;
      position: relative;
      text-align: left;
      z-index: 2;
      .action-btn {
        color: #666666;
        margin-left: 12px;
      }
    }
  }
  .img-wrapper {
    margin: 0 auto;
    max-height: 650px !important;
    margin-bottom: 3.8em;

    .img-zoom {
      transition: 0.3s;
      display: flex;
      position: relative;
      overflow: hidden;
      justify-content: center;
      .img {
        object-fit: cover;
      }
    }
    .img-zoom .img {
      transition: transform 0.5s ease;
    }
    .img-zoom:hover .img {
      transform: scale(1.1);
    }
  }
}
.stroke-effect {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media only screen and (max-width: 300px) and (min-width: 0px) {
  .btn {
    display: block;
    width: 100% !important;
    line-height: 1;
    margin-bottom: 3em;
    height: auto;
  }
  .work {
    font-size: 1.8rem;
  }
  .hero {
    .content {
      .action-btn-wrapper {
        display: none;
      }
      .heading-wrapper {
        .subheading {
          font-size: 0.9rem;
        }
        .heading {
          font-size: 2.3rem;
          margin-top: 0.8em;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .work {
    font-size: 5rem;
    margin-top: 8em;
  }
  .hero {
    .content {
      .heading-wrapper {
        .subheading {
          font-size: 1.3rem;
        }
        .heading {
          font-size: 4.5rem;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .work {
    transform: none !important;
  }
  .hero {
    .content,
    .navigation,
    .img-wrapper {
      transform: none !important;
    }
  }
}

@media (min-width: 1100px) {
  .hero {
    margin-top: 8.5em;
    max-width: none;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .content {
      grid-column-start: 1;
      grid-column-end: 4;
      align-self: center;
      text-align: left;

      .heading-wrapper {
        .heading {
          text-align: left;
          span {
            margin: 0;
          }
        }
      }
    }
    .img-wrapper {
      grid-column-start: 5;
      grid-column-end: 9;
      margin: 0;
      margin-bottom: 0;
      .img-zoom {
        max-width: 515px;
      }
    }
    .navigation {
      grid-column-start: 10;
      grid-column-end: -1;
      align-self: center;
    }
  }
}
