:root {
  --forest: #494848;
  --gray-white: #f9f9f9;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  //border: 1px solid red !important;
}
html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  width: 100%;
  background-color: white;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.text-center {
  text-align: center;
}
.wrapper {
  margin: 8em 2em 0em 2em;
}
.mg-top-0 {
  margin-top: 0 !important;
}

@media (min-width: 0px) and (max-width: 200px) {
  .wrapper {
    margin: 0;
  }
}
@media (min-width: 900px) {
  .wrapper {
    margin: 2em 3em 0em 3em;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
